#map {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  height: 70vh;
}

#property-container {
  position: relative;
  .p-panel {
    position: absolute;
    right: 0;
  }
  .p-panel-content {
    border-radius: 6px;
    padding: 0.2rem;
  }
  .p-tabview-panels {
    padding: 0;
  }
  .p-accordion-header-link {
    border: none;
    background: #ffffff;
  }
  .p-accordion-content {
    border: none;
    padding: 0 1.25rem;
    .accordion-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.15rem;
    }
  }
  .move-button__goal {
    margin-top: 0.5rem;
  }
}

#switch-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .p {
    margin: 1px 0 !important;
  }
  div {
    margin-left: 5px;
    margin-right: 3px;
  }
}

#selected-info {
  word-wrap: break-word;
}
.p-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-speeddial-item {
  .pi-map,
  .pi-download,
  .pi-flag,
  .pi-compass {
    color: #ffffff;
  }
}
