.layout-under{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 3rem;
}

.box-map{
    width: 40vw;
    height: 40vw;
}

.box-task{
    width: 40vw;
    height: 40vw;
}