.custom-label-frame {
  color: #4caf50; /* Green color */
  font-weight: bold;
  font-size: 20px;
  padding: 18px;
  margin-left: 12px;
  background-color: transparent;
  border-radius: 4px;
}
.custom-label {
  color: #4e4e4e; /* Green color */
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  border-radius: 4px;
}

.custom-label-empty {
  color: #ffffff;
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  border-radius: 4px;
}

.main-box {
  position: relative;
  height: calc(100vh - 9rem);
  display: flex;
}

.button-new {
  width: 200px;
}

.tool-main {
  // position: absolute;
  left: 20px;
  right: 20px;
  width: calc(100% - 40px);
}
.tool-run {
  // position: absolute;
  left: 20px;
  right: 20px;
  top: 750px;
  width: calc(100% - 40px);
}

.input-detail {
  width: 80%;
}
.tree-box {
  position: relative;
  // width: 55%
  height: 600px;
}

.custom-tree {
  position: relative;
  width: 500px;
  min-height: 600px;
}
.child-box2 {
  // position: absolute;
  width: 100%;
  top: 100px;
}

.child-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.tool-box {
  position: relative;
  width: 30%;
  height: 600px;
  // max-width: 400px;
  // min-width: 200px;
}
.btn-tool {
  width: 40%;
}
.tool-add {
  width: 30%;
  background-color: red;
  height: 600px;
  padding: 20px;
}
.add-panel {
  width: 100%;
  height: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 0;
}

.btn-add {
  width: 100%;
  padding: 0;
  height: 3rem;
  margin-bottom: 10px;
}

.tool-tool {
  position: relative;
  width: 100%;
  // height: 150px;
}

.tool-detail {
  position: relative;
  width: 100%;
}
.custom-data {
  color: #4caf50; /* Green color */
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  border-radius: 4px;
}

.node-box {
  background-color: transparent;
  padding: 5px;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  margin-right: 0.5rem;
  width: 2rem;
  height: 3rem;
  color: #4caf50;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-icon {
  // margin-right: -0.5rem;
  color: #2f3d50;
}
.p-tree
  .p-tree-container
  .p-treenode
  .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
  background: #cdcdcd;
  color: #2f3d50;
  border: 0 none;
}

.p-tree
  .p-tree-container
  .p-treenode
  .p-treenode-content.p-treenode-selectable:not(.p-highlight) {
  background: #dfdfdf;
  border: 0 none;
}

.p-tree
  .p-tree-container
  .p-treenode
  .p-treenode-content.p-treenode-selectable {
  background: #dfdfdf;
  border: solid #39aaff;
  color: #4b5563;
}
